 <footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Mahi Chowdhury", "https://www.youtube.com/channel/UC2R7w95rSt04GTpv319t00A?view_as=subscriber", class: "text-white" %></small>
    </div>
 </footer>